* {
margin: 0;
padding: 0;
}

body{
    background-color:rgb(127, 229, 255);
    text-align: center;

}
.container{
    height: 70vh;
    width: 70vh;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.1);
    font-size: 10vmin;
    color: red;
    background-color: black;
    align-items: center;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color:  #191913;;
    border-radius: 1rem;
    color: #fff;
    border:none;


}
#turn-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color:  #191913;;
    border-radius: 1rem;
    color: #fff;
    border:none;
}
.winning-box {
  background-color: #04c704; /* light green */
  font-weight: bold;
  color: #000;
}


#msg{
    color: red;
    font-size:10vmin;
    font-style: italic;
    
}
.message-container{
    height:80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display:none;
}